.profile {
  background-color: whitesmoke;
  margin-bottom: 20px;
}

.profile h1 {
  font-size: 30px;
  /*  background-color: #F7F7F7; */
  background-color: whitesmoke;
  margin: 10px 0px;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  font-family: 'Roboto', sans-serif;
}

.profilee {
  display: flex;
}

.profile-img {
  height: 120px;
  margin: 20px;
  border-radius: 4px;
}

.profilee pre {
  margin: 10px 0px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.profile-details {
  margin: 15px 0px;
  border-left: 1px solid rgba(0, 0, 0, .5);
  padding-left: 15px;
}